<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="col-md-3">
    <h1>Create a group</h1>
    <form role="form" name="createGroupForm" ng-submit="addGroup(createGroupForm)" novalidate>

      <div class="form-group">
        <label for="groupName">Group Name</label>
        <input type="text" class="form-control" id="groupName" name="groupName" ng-model="groupName" required>

        <div class="form-group has-error">
          <p class="help-block" ng-show="createGroupForm.groupName.$error.required && submitted">
            Please enter your group name.
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="groupCode">Group Code</label>
        <input type="text" class="form-control" id="groupCode" name="groupCode" ng-model="groupCode" ng-readonly="true" required>

        <div class="form-group has-error">

          <p class="help-block" ng-show="createGroupForm.groupCode.$error.required && submitted">
            Please enter a group code.
          </p>
          <p class="help-block">{{ messages }}</p>
        </div>

      </div>

      <!--      <div class="form-group">
              <label for="pincode">PIN</label>
              <input type="password" class="form-control" id="pinCode" ng-model="pinCode">
            </div>-->
      <!--      <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>-->
      <div ng-show="message" class="alert alert-success" role="alert">Group has been created.</div>

      <div ng-show="errorMessage" class="alert alert-dismissible alert-danger">
        <strong>You can't create such group. Please change Group Code and try again.</strong>
      </div>

      <button ng-hide="message" type="submit" class="btn btn-success">Create Group</button>
      <div ng-show="message" class="btn btn-danger" ng-click="resetForm()">Reset Form</div>
    </form>
  </div>

</div>
