<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row">

    <!-- Group List - start -->
    <div class="col-md-3">
      <h1>Existing groups</h1>
      <ul class="list-group">
        <li ng-repeat="group in groupList" class="list-group-item">
          <a ui-sref="chart.details({ id: group.code })"> {{group.name}} - {{group.code}}</a>
        </li>
      </ul>
    </div>
    <!-- Group List - end -->

    <!-- Chart View - start -->
    <div class="col-md-9">
      <div ui-view="">
      </div>
    </div>
    <!-- Chart View - end -->

  </div>

</div>
