<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-init="init()" ng-controller="PublicChartDetailsCtrl">

  <!-- Filter buttons - start -->
  <div class="row">
    <div class="col-md-9">


      <div class="btn-toolbar" role="toolbar" aria-label="periods">
        <div class="btn-group" role="group" aria-label="shortPeriods">
          <button type="button" class="btn btn-default" ng-click="getAllData()" ng-class="{active: isActiveBtn('all')}">All</button>
          <button type="button" class="btn btn-default" ng-click="getYearData()" ng-class="{active: isActiveBtn('year')}">Year</button>
        </div>
        <div class="btn-group" role="group" aria-label="shortPeriods">
          <button type="button" class="btn btn-default" ng-click="getThreeMonthsData()" ng-class="{active: isActiveBtn('3m')}">3 Months</button>
          <button type="button" class="btn btn-default" ng-click="getOneMonthData()" ng-class="{active: isActiveBtn('month')}">Month</button>
          <button type="button" class="btn btn-default" ng-click="getOneWeekData()" ng-class="{active: isActiveBtn('week')}">Week</button>
        </div>
      </div>

    </div>
  </div>
  <!-- Filter buttons - end -->

  <div class="row">
    <!-- Chart View - start -->
    <div class="col-md-9">
      <div ui-view="">
        <div >
          <nvd3 options="options" data="data"></nvd3>
        </div>
      </div>
    </div>
    <!-- Chart View - end -->

  </div>

</div>




