<div ng-include="'components/navbar/navbar.html'" xmlns="http://www.w3.org/1999/html"></div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="visible-lg visible-md">Interactions Chart</h1>
      <div class="visible-lg" id="interactions_chart_lg"></div>
      <div class="visible-md visible-sm" id="interactions_chart_md"></div>
      <div class="visible-xs" id="interactions_chart_sm"></div>
    </div>
  </div>
  <div class="row">
    <p> </p>
    <p> </p>
  </div>

</div>
